h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', Georgia, Times, serif;
}
p, div {
    font-family: 'Molengo', Helvetica, Arial, sans-serif;
}
body { 
    background: url(/imgs/crossword.png) repeat 0 0;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

div.item{
	width: 90%;
	padding: 20px 20px 20px 20px;
	margin-left: 10px;
	margin-top: 30px;
	border: solid black 1px;
	float: left;
	background: #F8F8FF;
}

div .item img {
	width: 100px;
	height: 100px;
	padding: 2px 2px 2px 2px;
	margin: 5px 10px 5px 10px;
	float: left;
}

div .item canvas {
	width: 100px;
	height: 100px;
	padding: 2px 2px 2px 2px;
	margin: 5px 10px 5px 10px;
	float: left;
}

div .itemcontent {	
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
}

div.item span.header{
	font-size: 28px;
	border-bottom: solid black 1px;
	font-weight: bold;	
}

div.item p{
	padding: 5px 0px 5px 0px;
	font-size: 18px;	
	line-height: 24px;
}

div.item span.sub {
	font-size: 14px;
	font-weight: italics;
}

div .item a {
	text-decoration: none;
	color: black;
}
