---
title: Projects
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog, Portfolio and Internet Home of Rich Talbot">
    <meta name="author" content="Richard J Talbot">
	<title>home</title>
	<link href="/stylesheets/blog.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link href="/stylesheets/site.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">		
			<a class="blog-nav-item active" href="/proj">Projects</a>
			<a class="blog-nav-item" href="/">Home</a>          
        </nav>
      </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-sm-11">
				{% for page in site.pages %}
				{% if page.type == 'project' %}
				<div class="item">
					<a href="{{ page.href }}">
						{{ page.special }}
						<div class="itemcontent">
							<span class="header">{{ page.projectheader }}<span>
							<p>{{ page.description }}</p>
						</div>
					</a>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/script/pixelnoise.js"></script>
	<script>
		$(document).ready(function() {
			$("#flashycanvas").pixelNoise({ 'size' : 10, 'interval' : 1 });
		});
	</script>
</body>
</html>